footer {
  background-color: linear-gradient(rgb(247, 3, 173),rgb(195, 0, 255));
  padding: 10px;
  font-size: 70%;
  font-weight: bold;
  line-height: 14px;
  display: flex;
  justify-content: center;
}